---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Nafil Habibi Mulyadi | Portfolio">
  <div class="min-h-screen bg-light relative overflow-hidden">
    {/* Background effects - more subtle for light theme */}
    <div class="absolute inset-0 pointer-events-none">
      <div
        class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(circle_at_50%_0%,rgba(22,78,99,0.05)_0%,transparent_50%)]"
      >
      </div>
      <div
        class="absolute top-20 left-10 w-72 h-72 bg-primary/5 rounded-full blur-3xl animate-pulse-slow"
      >
      </div>
      <div
        class="absolute bottom-20 right-10 w-96 h-96 bg-secondary/5 rounded-full blur-3xl animate-pulse-slow delay-1000"
      >
      </div>
    </div>

    <div class="relative z-10 w-full">
      <HeroSection />
      <AboutSection />
      <ProjectsSection />
      <SkillsSection />
      <ContactSection />
    </div>

    {/* Floating elements - subtle blue accents */}
    <div
      class="fixed top-20 right-20 w-8 h-8 bg-primary/5 rounded-full animate-float hidden lg:block border border-primary/10"
    >
    </div>
    <div
      class="fixed bottom-40 left-10 w-6 h-6 bg-secondary/5 rounded-full animate-float delay-1000 hidden lg:block border border-secondary/10"
    >
    </div>
  </div>
</Layout>
